<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title>Upload File</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<h3 th:if="${message}" th:text="${message}" class="flash"><</h3>

		<form method="post" enctype="multipart/form-data" th:action="@{/images}" th:object="${imageAddForm}">
			<input type="text" th:field="*{location}" class="form-control"/>
			 <input type="date" th:field="*{date}" class="form-control" /> 
			<input type="file" name="file"  class="form-control"/><br/> 
			<input type="submit" value="upload" />
		</form>
	</div>

</body>
</html>